* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background-color: #fff;
}

.navbar {
    border-radius: none;
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: red;
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25em;
    background-color: #fff;
    margin: 6px;
    border-radius: 10px;
}

.my-container {
    transition: 0.4s;
}

/* Navbar */
.active-nav {
    margin-left: 0;
}

/* Section */
.active-cont {
    margin-left: 180px;
}

#menu-btn {
    background-color: red;
    color: #fff;
}

#menu-btn:focus {
    box-shadow: none;
}
