@media only screen and (max-width: 700px) {
    #image {
        display: none;
    }

    #title {
        display: flex;
        justify-content: center;
        margin-right: 63px;
        margin-top: -10px;
    }

    /* #labelPilihJurusan {
        display: flex;
        margin-left: 90px;
        margin-top: -113px;
    }

    #labelPengajuanPKL {
        display: flex;
        margin-left: 256px;
        margin-top: -113px;
    }

    #labelProfileSiswa {
        display: flex;
        margin-left: 113px;
    }

    #labelInformasi {
        display: flex;
        margin-left: 272px;
        margin-top: -50px;
    } */

    #bell {
        display: none;
    }

    #menu a {
        display: block;
    }

    /* #pilihJurusan {
        position: relative;
        z-index: 1;
        margin-left: 200px;
        margin-top: -30px;
        margin-bottom: 40px;
    }

    #pengajuan {
        margin-top: -100px;
        margin-left: 50px;
    }

    #profile {
        margin-top: 10px;
        margin-left: 50px;
    }

    #informasi {
        margin-top: -60px;
        margin-left: 200px;
    } */

    #kembali {
        display: block;
        margin-top: -100px;
        margin-right: 30px;
    }
}
